.mini-img {
  object-fit: cover;
  height: 200px;
}

.banner {
  height: 300px;
}

.banner-side {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.bg-black {
  background-color: #000;
}

body {
  background-color: #101115;
}

.gif-banner {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.border {
  border: solid 5px !important;
}

.border-green-rm {
  border: solid 5px #5cad55 !important;
}
